<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>
        <div class="links">
            <a href="/teachers">Teachers</a>
            <a href="/students">Students</a>
        </div>
    </header>

   
    {% block content %}{% endblock %}

    <script src="/script.js"></script>


    <section class="rodape">

        <div class="logos">

            <div class="text">
                <h1>Desenvolvido by <strong>Natanael Silva</strong> </h1>
            </div>

            <div class="redes" >
                <a href=""><img class="insta"src="https://logodownload.org/wp-content/uploads/2017/04/instagram-logo.png" alt=""> </a>
                <img class="linke" src="https://logodownload.org/wp-content/uploads/2019/03/linkedIn-logo-0.png" alt="">
                <img class="git" src="https://logodownload.org/wp-content/uploads/2019/08/github-logo-0.png" alt="">
            </div>
        </div>
    </section>

</body>
</html>